@import 'utils/colors';
@import 'utils/fonts';
@import 'utils/textSize';


.result {
    background-image: $brand-gradient;
}

.result__header {
    font-family:'HankenGrotesk' ;
    font-size: 16px;
}