$brand-gradient: linear-gradient( to bottom, #6943FF, #2F2CE9);
$brand-second-gradient: linear-gradient(to bottom, #4D21C9, #2521C900);
$brand-second-color: #303B59;
$brand-secondary-text: #CAC9FF;
$main-color-fon: #ECF2FF;
$memory-color-text: #FFB21E;
$memory-color-fon: #FFB21E05;
$visual-color-text: #1125D6;
$visual-color-fon: #1125D605;
$verbal-color-text: #00BB8F;
$verbal-color-fon: #00BB8F05;
$reaction-color-text: #FF5555;
$reaction-color-fon: #FF555505;
$white-color: #FFFFFF;